.idea/.name
.idea/AntColonyJS.iml
.idea/jsLibraryMappings.xml
.idea/watcherTasks.xml
.idea/libraries/Generated_files.xml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/misc.xml
.idea/vcs.xml
Scripts/Ant.min.js
Scripts/Pheromone.min.js
Scripts/Pheromone.min.js
Scripts/Sim.min.js
.idea/jsLinters/jshint.xml